.purchase {
    margin: 0px auto;
}

.purchase__inner {
    padding: 60px 30px;
}

.wrap {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 30px;
    row-gap: 50px;
    width: 100%;
}

.purchase__group {
    width: 100%;
    grid-column: 1/2;
    margin: 0px auto;
    border-bottom: 1px solid rgba(0, 0, 0, 1);
}

.purchase__group__inner {
    display: flex;
    gap: 40px;
    margin-bottom: 40px;
}

.purchase__group img {
    width: 180px;
    height: 180px;
    background-color: rgba(217, 217, 217, 1);
}

.purchase__content h2 {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 20px;
}

.purchase__content p,
.purchase__content span {
    font-weight: 400;
    font-size: 27px;
    padding: 5px;
}

.purchase__label {
    font-weight: 700;
    font-size: 20px;
    margin: 0px 30px;
}

.purchase__select__inner,
.shipping-address__inner {
    margin: 40px 80px;
    position: relative;
    display: block;
}

.purchase__select {
    width: 70%;
    height: 40px;
    padding: 5px;
    appearance: none;
    border: 1px solid rgba(95, 95, 95, 1);
    color: rgba(95, 95, 95, 1);
    font-weight: 700;
    font-size: 16px;
}

.purchase__select--inner::after {
    position: absolute;
    top: 50%;
    right: 32%;
    width: 0;
    height: 0;
    border-top: 16px solid rgba(95, 95, 95, 1);
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    content: "";
    transform: translateY(-50%);
}

.shipping-address {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shipping-address a {
    font-weight: 400;
    font-size: 20px;
    text-decoration: none;
    color: rgba(0, 115, 204, 1);
}

.shipping-address__input {
    width: 100%;
    font-weight: 600;
    font-size: 20px;
    border: none;
    outline: 0;
    padding: 0;
    line-height: 1.5;
}

.shipping-address__input:first-of-type {
    width: 90%;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 4%;
    transform: translateY(-8%);
    line-height: 1.5;
}

@media screen and (max-width: 1000px) {
    .shipping-address__input:first-of-type {
        width: 90%;
        display: inline-block;
        position: absolute;
        top: 0;
        left: 8%;
        transform: translateY(-8%);
        line-height: 1.5;
    }
}

.shipping-address__span {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    position: relative;
}

.purchase__items {
    display: grid;
    grid-column: 2/3;
    grid-row: 1/2;
}

.purchase__items:last-of-type {
    grid-row: 2/3;
}

.order-info {
    border: 1px solid rgba(0, 0, 0, 1);
}

.order-info__inner {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.order-info__inner:first-of-type {
    border-bottom: 1px solid rgba(0, 0, 0, 1);
}

.order-price__p,
.order-pay__p {
    font-weight: 400;
    font-size: 20px;
    padding: 5px 15px;
}

.alert {
    color: rgba(255, 0, 0, 1);
    font-size: 20px;
    padding: 5px;
}

.purchase__items-btn {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 4px;
    background-color: rgba(255, 85, 85, 1);
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    font-size: 30px;
    text-align: center;
}